body {
    /* background-image: url("../img/coffee1.jpg"); */
    background-color: #f3c6c6;
  }

th {
    padding: 30px;
}
table{
    padding-left: 12em;
    margin-left: 12em;
}
#menu td, h1, img{
    text-align: center;
}

.menu-title a {
    text-decoration: none;
    color: #775631;
}

#menu th {
    color: #9c6666;
}

.table-2 th {
    color: #e2415b;
}


/* .special {
    padding-left: 21em;
    margin-left: 21em;
    padding-top: 30px;
} */